* {
  box-sizing: border-box;
}
body, html {
  width: 100%;
  height: 170vh;
}
.navbar {
  width: 98%;
  height: 170px;
  box-shadow: 0 4px 10px rgb(0, 0, 0, 0.1);
  position: absolute;
}
.navbar .container {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-menu {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  text-transform: uppercase;
}
.navbar-menu li {
  display: inline-block;
}
.navbar-menu li a {
  color: rgb(255, 255, 255);
  opacity: 0.6;
  text-decoration: none;
  padding: 3px;
  display: inline-block;
  transition: all 0.07s ease-in-out;
}
.navbar-wrap {
  display: flex;
  flex-flow: row nowrap;
}
.colback {
  margin-left: 30px;
  margin-right: 200px;
  margin-top: 13px;
  padding: 10px 50px;
  background-color: rgb(251, 180, 2);
  border-radius: 0;
  color: #fff;
}


