* {
  box-sizing: border-box;
}
body, html {
  width: 100%;
  height: 170vh;
}
.navbar {
  width: 98%;
  height: 170px;
  box-shadow: 0 4px 10px rgb(0, 0, 0, 0.1);
  position: absolute;
}
.navbar .container {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

